.pokemons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.grass {
    background-color: #49d0b0;
}

.grass .detail .types .type {
    background-color: #61e1ca;
    color: #fff;
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.fire {
    background-color: #ff8b2c;
}

.fire .detail .types .type {
    background-color: #ff985d;
    color: #fff;
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.water {
    background-color: #2cb2ff;
}

.water .detail .types .type {
    background-color: #a3dcfd;
    color: #000;
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.bug {
    background-color: #3b8300;
}

.bug .detail .types .type {
    background-color: #a7ff5e;
    color: #000;
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.pokemon .number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .825rem;
}

.pokemon .name {
    color: #fff;
    margin-bottom: 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
    align-self: self-end;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}